:root{
    --color-title: lightseagreen;
    --color-header: aliceblue;
    --color-atom: rgba(240, 248, 255, 0.26);
    --color-content: #000;
    --size-atom: 450px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Anek Bangla',sans-serif;
    color: var(--color-content);
}

body {
    margin: 0;
    position: relative;
}

.header {
    position: relative;

    width: 100%;
    min-width: 320px;
    height: 10rem;
    
    
    text-align: start;

    color: var(--color-header);
    background-image: linear-gradient(45deg,var(--color-content) 50%, var(--color-title));
}

.header h1 {
    position: absolute;
    top: calc(50% - 1.4rem);
    left: calc(22% + 4rem);

    font-size: 1.5rem;
}

.header p {
    position: absolute;
    top: calc(60% - 1rem);
    left: calc(22% + 4rem);
    margin-top: 5px;

    font-size: 1rem;
}

.container-photo {
    position: absolute;
    top: calc(50% - 4rem);
    left: calc(20% - 4rem);

    width: 8rem;
    height: 8rem;

    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px var(--color-header), 0 0 20px var(--color-header);
}

.photo {
    width: 100%;
}

.btns {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;

    transform: translateY(50%);
}

.botton {
    display: flex;
    width: 120px;
    height: 30px;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;

    background-color: lightseagreen;
    color: var(--color-content);
    border-radius: 15px;
}

.botton-icon {
    display: flex;
    width: 15px;
    height: 15px;
    margin-left: 3px;

    background-image: url('./assets/icons/cv.svg');
}

.botton-icon--portfolio {
    background-image: url('./assets/icons/briefcase.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.botton:hover {
    color: var(--color-header);
    box-shadow: 0 0 10px var(--color-header), 0 0 20px var(--color-header);
}

.botton:hover > .botton-icon {
    filter: invert(1);
}
/*======================= MAIN ========================*/

main {
    display: flex;
}

.column{
    width: 50%;
    padding: 0 20px 20px;
}

.column--gris{
    background-color:hsl(30, 3%, 66%, 0.3);
}

.column section {
    margin-top: 20px;
}

section h2 {
    border-bottom: gray 1px solid;
    color: var(--color-title);
}

section > p {
    margin-top: 10px;

    line-height: 1.5rem;
    font-size: 1.1rem;
    text-align: justify;
}

.list {
    list-style-type: none;
    width: 100%;
}

.list-item{
    line-height: 1.2rem;
    margin-top: 5px;
}

.list-link {
    text-decoration: none;
    color: inherit;
}

.list-item--contact {
    display: flex;
    align-items: center;
    align-content: center;

    height: 25px;
    padding-left: 2.4rem;

    background-position: 0 50%;
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
}

.list-item--email {
    background-image: url('./assets/icons/gmail.svg');
}

.list-item--wp {
    background-image: url('./assets/icons/whatsapp.svg');
}

.list-item--telefono {
    background-image: url('./assets/icons/llamada-telefonica.svg');
}

.list-item--linkedin {
    background-image: url('./assets/icons/linkedin.svg');
}

.list-item--github {
    background-image: url('./assets/icons/github.svg');
}

.list--skills{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.list-item--skills {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 135px;
    height: 25px;
    margin-right: 1rem;
    padding-left: 2.4rem;
    
    background-position: 0 50%;
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
}

.list-item--html {
    background-image: url('./assets/icons/html.svg');
}

.list-item--css {
    background-image: url('./assets/icons/css.svg');
}

.list-item--js {
    background-image: url('./assets/icons/javascript.svg');
}

.list-item--git {
    background-image: url('./assets/icons/git.svg');
}

.list-item--api {
    background-image: url('./assets/icons/api.svg');
}

.list-item--regresion {
    background-image: url('./assets/icons/regresion.svg');
}

.list-item--liderazgo {
    background-image: url('./assets/icons/liderazgo.svg');
}

.list-item--ie {
    background-image: url('./assets/icons/ie.svg');
}

.list-item--comunicacion {
    background-image: url('./assets/icons/comunicacion.svg');
}

.list-item--trabajo {
    background-image: url('./assets/icons/trabajo-equipo.svg');
}

.list-item--tiempo {
    background-image: url('./assets/icons/tiempo.svg');
}

.list--img {
    margin-top: 1rem;

    justify-content: space-around;
    align-items: flex-start;
}

.list-img {
    margin: 0 auto;

    width: 40px;
    height: 40px;
}

.list-link--small {
    display: block;
    width: 60px;
    text-align: center;
}