body {
    background-color: #333;
}

.container {
    display: block;
    height: 27.9cm;
    background-color: aliceblue;
}

html {
    font-size: 89%;
}


.botton {
    width: 200px;
    height: 40px;
}

.botton-icon {
    width: 20px;
    height: 20px;
    margin-left: 3px;
}

.column section {
    margin-top: 40px;
}

.list-item--contact,
.list-item--skills{
    height: 40px;
}

@media screen and (max-width: 420px){
    html {
        font-size: 83%;
    }
}